{
    "check-coverage": true,
    "lines": 5,
    "statements": 5,
    "functions": 5,
    "branches": 0,
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "**/*.spec.ts",
        "src/service/task/*.ts"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ]
}